<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.myMapper"> <!-- 매퍼의 이름 -->
	<select id="getId" parameterType="String" resultType="String">
		select id from myproject_customers_tbl where id=#{id}
	</select>
	<select id="getPwd" parameterType="String" resultType="String">
		select pwd from myproject_customers_tbl where id=#{id}
	</select>
	<insert id="register" parameterType="model.User">
		insert into myproject_customers_tbl values(#{id},#{pwd},#{name},#{addr},#{email},
		#{phone}, sysdate)
	</insert>
	<select id = "getMovieList" resultType="model.Movie">
		select * from myproject_movie_tbl
	</select>
	
	<select id="getNoticeDetail" parameterType="Integer" resultType="model.Notice">
		select no, title, id, to_char(notice_date, 'YY/MM/DD') "notice_date",
			content
		from myproject_notice_tbl where no = #{no}
	</select>
	<select id="getNoticeCount" resultType="Integer">
		select count(*) from myproject_notice_tbl
	</select>
	<select id="getAllNotice" parameterType="model.FromTo" resultType="model.Notice">
		select no, title, id, to_char(notice_date, 'YY/MM/DD') "notice_date"
		from	(select rownum rn, no, title, id, notice_date 
			from (select no, title, id, notice_date from myproject_notice_tbl 
			order by no desc)) 
		where rn > #{from} and rn <![CDATA[<]]> #{to}
	</select>
	<select id="maxNotice" resultType="Integer">
		select max(no) from myproject_notice_tbl
	</select>
	<insert id="putNotice" parameterType="model.Notice">
		insert into myproject_notice_tbl values(#{no},#{title},#{id},#{content},sysdate)
	</insert>
	<update id="updateNotice" parameterType="model.Notice">
		update myproject_notice_tbl set title = #{title}, content = #{content}
		where no = #{no}
	</update>
	<delete id="deleteNotice" parameterType="Integer">
		delete from myproject_notice_tbl where no = #{no}
	</delete>
</mapper>
